.loginpage{
	width: 83.46vw;
	height: 100%;
	margin:0 auto;
	margin-top: 10.66vw;
}
.loginpage .loginheader{
	height: 6.66vw;
	margin-bottom: 12.33vw;
}
.loginpage .loginheader h2{
	float: left;
	font-size: 5.5vw;
	font-weight: 300;
}
.loginpage .loginheader a{
	display: block;
	float: right;
	color: #00b38a;
	font-size: 3.5vw;
}
.loginpage .loginform input{
	border: none;
	border-bottom: 1px solid #E8E9EB;
	height: 6.66vw;
	width: 100%;
	padding: 2.33vw 0;
	margin-bottom: 3.33vw;
	outline: none;
}
.loginpage .loginform input::-webkit-input-placeholder{
	color: #ccc;
	font-size: 4.33vw;
}
.loginpage .bigloginbtn{
	margin-top:10.66vw;
	width: 100%;
	height: 11.70vw;
	background-color: #00b38a;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 4.5vw;
}
.loginpage .loginfooter{
	color: #00b38a;
	position:absolute;
	bottom: 10.66vw;
}
.loginpage .loginfooter span{
	font-size: 3.5vw;
}