
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 21.33vw;
}

.App-header {
  background-color: #222;
  height: 40vw;
  padding: 5.33vw;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.jobbox{
  flex:1;
  overflow: auto;
  margin-bottom: 12vw;
}
.headerNav{
  height: 12vw;
  width: 100%;
  background-color: #00b38a;
  text-align: center;
  line-height: 12vw;
  color: #fff;
  font-size: 4.8vw;
}
.footerNav{
  height: 12vw;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.footerNav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  border-top: 1px solid #e8e8e8;
}
.footerNav ul>li{
  flex:1;
  text-align: center;
  line-height: 12vw;
}
.footerNav ul>li a{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 4.8vw;
  color: #c2cfcc;
}
.active{
  background-color:#e7f3f0;
  color: #09b58e !important;
}